{% extends "data.html" %}

{% block content %}
    <meta charset="UTF-8">
    <title>Страничка знаний</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}"/>

<h1>Книга</h1>
<p><strong>Книга</strong> один из видов печатной продукции: непериодическое издание,
    состоящее из сброшюрованных или отдельных бумажных листов (страниц) или тетрадей,
    на которых нанесена типографским или рукописным способом текстовая и графическая (иллюстрации) информация,
    имеющее, как правило, твёрдый переплёт.</p>
<p>Также книгой может называться литературное или научное произведение,
    предназначенное для печати в виде отдельного сброшюрованного издания.</p>
<p>С развитием информационных технологий всё более широкое распространение получают электронные книги —
    электронные версии печатных книг, которые можно читать на компьютерах или специальных устройствах.
    В 2013 году электронные книги занимали 30 % книжного рынка в количественном выражении и 14 % — в стоимостном.</p>
<h2>Содержание</h2>
<ol>
    <li><a href="#a">История</a></li>
    <li><a href="#e">Современные технологии</a></li>
    <ol>
        <li><a href="#j">Цифровая печать</a></li>
        <li><a href="#k">Электронная книга</a></li>
        <li><a href="#l">Аудиокнига</a></li>
    </ol>
    <li><a href="#h">Хранение</a></li>
    <li><a href="#m">Собрания книг</a></li>
    <li><a href="#p">Классификация книг</a></li>
    <li><a href="#t">Интересные факты</a></li>
</ol>
<h1 id="a">История</h1>
<p>История книги своими корнями уходит в далекое прошлое. Разные народы по–разному пришли к письменности,
    используя для письма разный материал: камень, кость, дерево, металл, шелк, кожу, кукурузные стебли.
    Слово «книга» происходит от церковно – славянского выражения «кънигы», что означает буквы или вообще письмо.
</p>
<h3>Как делали книгу.</h3>
<p>В седой древности материалом для письма служил КАМЕНЬ. Первые рисунки первобытных художников найдены на стенах пещер.
    Впоследствии на скалах, на каменных плитках и столбах высекали законы, имена царей, памятные события.
</p>
<p>ГЛИНЯНЫЕ КНИГИ – самые древние. На еще мягкой и влажной глине выдавливали острой палочкой слова-значки.
    Потом дощечку сушили и обжигали в печах, как горшки. По размеру глиняные плитки были 32х32 см и толщиной в 2,5 см –
    настоящий плоский кирпич. Из десятка, а иногда из сотни таких страниц создавалась книга.
    Такие книги писались в древних государствах Месопотамии и Ассирии.</p>
<p>А в соседнем Египетском государстве книги делали из ПАПИРУСА – речного тростника с высоким и толстым стволом,
    разрезанным на полосы и высушенным. На них писали палочками, обмакивая их в чернила или цветные краски.
    Потом листы склеивали и получалась книга в виде длинного свитка. Обычно длиной около 6 м.
    После чтения свиток сворачивали в трубку и хранили в особом футляре.
</p>
<p>Много веков люди пользовались папирусом.До нас дошли египетские, еврейские, греческие, персидские папирусы,
    которые хранятся в крупнейших музеях мира. В Британском музее в Лондоне хранится папирус длиной 40 метров,
    но встречались и свитки 45-метровой длины. Свиток – это одна сплошная страница. На свитках записаны исторические
    документы, научные труды, литературные произведения народов Древнего Востока, Греции и Рима.
</p>
<p>На смену папирусу пришел новый писчий материал –ПЕРГАМЕНТ. В древнем Пергамском государстве его выделывали из шкур
    животных.
    На нем можно было писать с обеих сторон. Лист пергамента сгибали пополам, и получались четыре страницы.
    Четвертинка по-гречески называлась «тетрадос», а все вместе они составляли тетрадь.
    Несколько таких тетрадей сшивалось и получалась книга, в которой можно было писать и рисовать,
    и называлась она кодексом. По внешнему виду кодекс напоминает современную книгу.
    На написание одной книги уходило целое стадо баранов. Книга писалась от руки несколько лет.</p>
<p>В Древней Руси писали на березовой коре – БЕРЕСТЕ. Знаки на кору наносили костяным стерженьком с ушком вверху,
    сквозь которую продергивалась тесемка. Стерженёк подвешивали к поясу.</p>
<p>Во 2 в.н.э. в Китае изобрели БУМАГУ. Это был более дешевый материал. Бумагу изобрел Цай Лунь.
    Он нашел способ делать бумагу из волокнистой внутренней части коры тутового дерева.
    Китайцы научились толочь кору в воде, чтобы отделить волокна, потом они выливали эту смесь на подносы,
    на дне которых находились длинные узкие полоски бамбука. Когда вода стекала, мягкие листы клали сушиться
    на ровную поверхность. Для этой цели использовали бамбук и старые тряпки. Китайцы 800 лет хранили тайну производства
    бумаги. Ни один писчий материал не получил такого признания, как бумага.</p>
<p>В разных странах стали создавать целые мастерские по изданию книг. Работа эта считалась очень важной и почетной.
    Первыми создателями рукописных книг были монахи. Букву за буквой выводил писец, строку за строкой.
    А художники заполняли страницы рисунками. Причудливым штрихом писали заголовок. Затем книгу «одевали» в переплет,
    украшали серебром и драгоценными камнями. Книги были подлинными произведениями искусства.</p>
<h1 id="e">Современные технологии</h1>
<p>Сегодня при изготовлении книг чаще всего используется технология офсетной печати или литографии,
    при которой краска с печатающей формы переносится на бумагу через промежуточный цилиндр.
    Страницы последовательно распечатываются на рулонной бумаге, которая впоследствии разделяется на отдельные листы,
    таким образом, что в итоге книга сразу будет собрана в правильном порядке. Такой станок, соответственно,
    называется рулонным, или ротационным; существуют также и офсетные станки, печатающие на отдельных листах,
    а не на рулонах.</p>
<p>После сбора листов с оттисками осуществляются переплётные работы. В середине прошлого века соответствующая
    часть работы выполнялась обособленными предприятиями, которые не занимались книгопечатанием и выполняли только лишь
    работу по переплёту книг; в настоящее время активные процессы слияния и реорганизации компаний приводят к тому,
    что интеграция различных задач в рамках одной и той же издательской фирмы нарастает, и теперь найти предприятие,
    подобное описанному выше, затруднительно. Растёт популярность переплёта книг без традиционной прошивки, однако
    прежние методы брошюрования также находят применение в полиграфическом процессе.</p>
<p>Для современного книгопечатания характерна стандартизация: изготавливаемые книги имеют,
    как правило, определённый размер и формат. В англоговорящих странах, за исключением США,
    доминируют британские стандарты; собственные нормы и правила действуют в странах Европы.
    Бумага также изготавливается специально для полиграфических нужд; для облегчения процесса чтения она традиционно
    делается не чисто белой, а слегка затемнённой, а также имеет определённую плотность, чтобы напечатанный на одной
    стороне листа текст не просвечивал с другой стороны. В зависимости от конкретного типа книги применяется бумага
    определённого качества; наиболее распространённой разновидностью является мелованная бумага того или иного
    сорта.</p>
<h3 id="j">Цифровая печать</h3>
<p>Помимо прочего, на современном этапе книги изготавливаются также и методом цифровой печати.
    При этом страницы формируются примерно тем же способом, что и документы, печатаемые офисной техникой —
    лазерными принтерами или копировальными аппаратами, с использованием тонера, а не чернил. Такой подход позволяет
    печатать малые тиражи изданий (до нескольких сотен экземпляров), в том числе благодаря отсутствию подготовительных
    этапов, необходимых в работе с офсетным станком. Появление цифровой печати содействовало формированию нового подхода
    к книгоизданию — т. н. печати по требованию, когда копии книг изготавливаются специально для конкретного клиента,
    уже после того, как он оформит заказ на то или иное издание.</p>
<h3 id="k">Электронная книга</h3>
<p>Термин «электронная книга» (также e-книга, англ. e-book) применяется по отношению к книге, содержащей информацию
    обычной книги, но представленную в цифровом формате и размещённой на электронном носителе (CD-ROM, DVD-ROM и пр.).
</p>
<p>Нарастающее число публикаций (так называемый информационный взрыв) поставил перед библиотеками вопрос хранения
    столь большого массива информации. Появление электронной публикации и сети Интернет позволяет не печатать
    информацию в виде бумажных книг, а хранить её на гораздо более ёмких электронных носителях в электронных
    библиотеках, предоставляя доступ к ней как локально, так и дистанционно — через Всемирную сеть.</p>
<p>Книги в таком виде имеют как свои плюсы, так и минусы, но, в связи с некоторым неудобством существующих систем
    чтения электронных книг (например, скорость чтения электронных книг, согласно исследованию «Nielsen Norman Group»,
    уступает в среднем на 10 % скорости чтения их бумажных аналогов), зачастую отдаётся предпочтение
    традиционным бумажным, поддерживая их производство на достаточном уровне.</p>
<p>Тем не менее, в настоящее время многие стараются оцифровать имеющиеся книги, чтобы обеспечить
    удобство хранения их на электронных носителях и беспрепятственный доступ к ним всех желающих.
    Также есть наработки и для процесса их публикации, например, печать по требованию, электронные журналы и т. п.</p>
<h3 id="l">Аудиокнига</h3>
<p>Для создания аудиокниги текст того или иного произведения начитывается человеком — как правило,
    профессиональным актёром либо группой таковых — или (реже) синтезатором речи, после чего записывается
    на какой-либо звуковой носитель. К тексту может также добавляться определённое шумовое или музыкальное
    сопровождение. Аудиокниги обладают как преимуществами (к примеру, возможность восприятия информации людьми,
    по той или иной причине не способными к чтению), так и недостатками (в частности, звуковой файл существенно
    более объёмен, нежели собственно текст).</p>
<h1 id="h">Хранение</h1>
<p>Со второй половины XIX века бумагу начали делать из целлюлозы. Романы, школьные учебники и книги стали
    достоянием широкой публики. Однако та бумага содержала кислоту, которая вызывает своего рода замедленное сгорание,
    постепенно разрушающее бумагу изнутри. Поэтому современные библиотеки должны принимать меры по нейтрализации кислот
    в старых книгах. Этому явлению подвержены книги, напечатанные между 1850 и 1950 годом.</p>
<p>При хранении книг нужно учитывать возможность химических изменений в обложке и тексте.
    Книги лучше всего хранить вдали от прямого солнечного света, в прохладном полутёмном помещении, при умеренной
    влажности. Книги, особенно тяжёлые, должны поддерживаться соседними томами, чтобы сохранить форму,
    по этой причине их желательно сортировать по размеру. В домашних условиях книги, как правило, хранят в книжных
    шкафах или на полках. Когда на книжной полке стоит немного книг, иногда необходим держатель для книг,
    чтобы препятствовать их перекосу.</p>
<p>Последние десятилетия широко используют электронные фотокопии старинных книг для читателей,
    а оригинал хранится в особых условиях.</p>
<h1 id="m">Собрания книг</h1>
<p>Собрание книг может быть как частным (коллекция), так и общественным (библиотека). Иметь подобное собрание первое
    время было привилегией дворян и состоятельных людей, а также монастырей и университетов. С удешевлением книг и
    увеличением их количества получили распространение общественные библиотеки, сделавшие книги доступными широким
    массам. Однако, из различных соображений (быстрота доступа, вкусы, соображения престижа) некоторые предпочитали
    (и предпочитают) иметь собственную (личную) библиотеку.</p>
<p>Появление книг в мягкой обложке в XX веке привело к взрыву популярной литературы.
    Из-за упавшей цены большинства книг и распространения книжных магазинов, обладание
    частной библиотекой перестало быть символом положения в обществе.</p>
<p>В крупных библиотеках поиск книг был довольно трудоёмок, поэтому были созданы системы их каталогизации — по теме,
    именам авторов, стране издания и пр. — упрощающие поиск и сортировку.</p>
<h1 id="p">Классификация книг</h1>
<p>В XX веке библиотекари столкнулись с проблемой отслеживания того множества книг, которое каждый год выпускалось
    по всему миру. В связи с этим Международная федерация библиотечных ассоциаций и учреждений разработала несколько
    инструментов для решения данной проблемы, и в том числе — международное стандартное библиографическое описание
    (ISBD). В соответствии с ним, каждому изданию присваивается международный стандартный книжный номер — ISBN. ISBN,
    соответственно, является уникальным идентификатором для каждого издания книги, произведённого в любой стране мира,
    если издатель принимает этот стандарт. Поддержкой системы занимается специальное сообщество ISBN.
    Идентификатор состоит из четырёх частей:</p>
<ul>код страны</ul>
<ul>код издателя</ul>
<ul>код названия</ul>
<ul>контрольная сумма, которая может принимать значения от 0 до 9 и X (10)</ul>
<p>Кроме ISBN, есть и другие системы классификации — к примеру, ББК или УДК.</p>
<h1 id="t">Интересные факты</h1>
<ul>Всего на Земле 129864880 книг.</ul>
<ul>Первое место среди всех книг мирового пространства отдается Библии.</ul>
<ul>Большое количество читателей теряют интерес к книге на 18 странице.</ul>
<ul>Свиток Дхарани – это самая древнейшая печатная книга.</ul>
<ul>Многие свитки-книги были длинными и достигали 45 метров в длину.</ul>
<ul>Географический атлас, сохранившийся в Лондонском музее, — это самая тяжелая в мире книга.</ul>
<ul>В шекспировский книгах слово «любовь» употреблялось 2259 раз.</ul>
<ul>В древние времени книги приковывали к полкам цепями, потому что они считались дорогими.</ul>
<ul>В древние времена книги на полках ставили корешками внутрь.</ul>
<ul>Человек, который ворует книги, называется библиоклептоманом.</ul>
<ul>Во время чтения книг наши глаза смотрят в разные стороны.</ul>
<ul>Если начать читать книгу про зевоту, то обязательно начнешь зевать.</ul>
<ul>В 17-19 столетии вместо переплета для книг использовали кожу человека.</ul>
<ul>Когда готы разорили Афины, они убивали сотни людей, но книги берегли.</ul>
<ul>Самым выпускаемым автором книг-детективов названа Агата Кристи.</ul>
<ul>В Китае запрещалось читать книгу «Алиса в стране чудес», потому что там были говорящие животные.</ul>
<ul>Книги о Гарри Поттере запрещали в Америке из-за пропагандистских действий по отношению к оккультизму.</ul>
<ul>.Первую рукописную Библию написали за 12 лет.</ul>
<ul>6 минут чтения книги снимает стресс – это было доказано учеными из университета Сассекс.</ul>
<ul>Самая продаваемая книга, которая защищена авторскими правами – Книга Рекордов Гиннеса.</ul>

{% endblock %}