{% extends "opr1.html" %}

{% block content %}
<meta charset="UTF-8">
<h1>Узнайте на сколько хорошо вы разбираетесь в литературе!</h1>
<form class="opr_form" method="post">
    <a class="btn btn-a" href="/questionnaire_menu">Назад</a>
    <h3>Какому русскому монарху посвящен памятник в поэме А. С. Пушкина "Медный всадник"?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question1" id="question11" value=1>
        <label class="form-check-label" for="question11">
            Александр Невский
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question1" id="question12" checked value=2>
        <label class="form-check-label" for="question12">
            Петр Первый
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question1" id="question13" value=3>
        <label class="form-check-label" for="question13">
            Иван Грозный
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question1" id="question14" value=4>
        <label class="form-check-label" for="question14">
            Николай Второй
        </label>
    </div>

    <h3>Какая настоящая фамилия Максима Горького?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question2" id="question21" value=1>
        <label class="form-check-label" for="question21">
            Лужин
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question2" id="question22" checked value=2>
        <label class="form-check-label" for="question22">
            Алексеев
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question2" id="question23" value=3>
        <label class="form-check-label" for="question23">
            Пешков
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question2" id="question24" value=4>
        <label class="form-check-label" for="question24">
            Демидов
        </label>
    </div>

    <h3>Как звали девушку, в которую был влюблен главный герой романа А.С. Пушкина «Дубровский»?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" id="question31" value=1>
        <label class="form-check-label" for="question31">
            Маша Троекурова
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" id="question32" checked value=2>
        <label class="form-check-label" for="question32">
            Софья Мармеладова
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" id="question33" value=3>
        <label class="form-check-label" for="question33">
            Маша Гринёва
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" id="question34" value=4>
        <label class="form-check-label" for="question34">
            Татьяна Ларина
        </label>
    </div>

    <h3>Укажите, какие произведения принадлежат перу А.Солженицына.</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="question41" value=1>
        <label class="form-check-label" for="question41">
            "Oгниво", "Точка кипения"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="question42" checked value=2>
        <label class="form-check-label" for="question42">
            "Колымские рассказы", "Чёрные камни"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="question43" value=3>
        <label class="form-check-label" for="question43">
            "Матрёнин двор", "В круге первом"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question4" id="question44" value=4>
        <label class="form-check-label" for="question44">
            "Юшка", "Уроки французского"
        </label>
    </div>

    <h3>В каком произведении М.Булгакова слышится предупреждение о том, что нарушение естественного хода вещей приводит
        к необратимым последствиям?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question5" id="question51" value=1>
        <label class="form-check-label" for="question51">
            "Роковые яйца"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question5" id="question52" checked value=2>
        <label class="form-check-label" for="question52">
            "Собачье сердце"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question5" id="question53" value=3>
        <label class="form-check-label" for="question53">
            "Мастер и Маргарита"
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question5" id="question54" value=4>
        <label class="form-check-label" for="question54">
            "Белая гвардия"
        </label>
    </div>

    <h3>Кому посвятил И. С. Тургенев свой наиболее известный роман "Отцы и дети"?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question6" id="question61" value=1>
        <label class="form-check-label" for="question61">
            В. Г. Белинскому
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question6" id="question62" checked value=2>
        <label class="form-check-label" for="question62">
            А. И. Герцену
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question6" id="question63" value=3>
        <label class="form-check-label" for="question63">
            П. Я. Чаадаеву
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question6" id="question64" value=4>
        <label class="form-check-label" for="question64">
            В. А. Жуковскому
        </label>
    </div>

    <h3>Кем по профессии был А. П. Чехов?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question7" id="question71" value=1>
        <label class="form-check-label" for="question71">
            Бакалейщик
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question7" id="question72" checked value=2>
        <label class="form-check-label" for="question72">
            Учитель
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question7" id="question73" value=3>
        <label class="form-check-label" for="question73">
            Юрист
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question7" id="question74" value=4>
        <label class="form-check-label" for="question74">
            Врач
        </label>
    </div>

    <h3>Назовите автора трагедии "Aриадна".</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question8" id="question81" value=1>
        <label class="form-check-label" for="question81">
            А. Ахматова
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question8" id="question82" checked value=2>
        <label class="form-check-label" for="question82">
            К. Бальмонт
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question8" id="question83" value=3>
        <label class="form-check-label" for="question83">
            М. Цветаева
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question8" id="question84" value=4>
        <label class="form-check-label" for="question84">
            Б. Пастернак
        </label>
    </div>

    <h3>Какой исторический персонаж запечатлен в "Капитанской дочке" А.С. Пушкина?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question9" id="question91" value=1>
        <label class="form-check-label" for="question91">
            Емельян Пугачев
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question9" id="question92" checked value=2>
        <label class="form-check-label" for="question92">
            Борис Годунов
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question9" id="question93" value=3>
        <label class="form-check-label" for="question93">
            Ермак
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question9" id="question94" value=4>
        <label class="form-check-label" for="question94">
            Степан Разин
        </label>
    </div>

    <h3>Сколько сыновей было у Тараса Бульбы, главного героя одноименного романа Н.В. Гоголя?</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question10" id="question101" value=1>
        <label class="form-check-label" for="question101">
            1
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question10" id="question102" checked value=2>
        <label class="form-check-label" for="question102">
            2
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question10" id="question103" value=3>
        <label class="form-check-label" for="question103">
            3
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question10" id="question104" value=4>
        <label class="form-check-label" for="question104">
            4
        </label>
    </div>
    <button type="submit" class="floating-button">Проверить</button>
</form>
{% endblock %}